<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>StackSavings.com - Web Developer Contract Postion - We Can Pay in Bitcoin.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.1.1.js"></script>
	<script src="https://parse.com/downloads/javascript/parse-1.3.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	</script>

	<script>
		var myapp = angular.module('mainApp', []);

		myapp.controller('pagevariables', function($scope, $rootScope, $http) {

			var text = "We are currently looking to hire remotely based web application developers. If interested, please fill out the form below and we will reply with more information.";
			$rootScope.main_text = text;
			//$http.get('page-init.php')
			//  .success(function(data) {
			//    $rootScope.main_text = "Something"
			//  })
			//  .error(function(data, status, error, config) {
			//    $scope.contents = [{
			//      heading: "Error",
			//      description: "Could not load json   data"
			//    }];
			//  });
		});
	</script>

	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- bootstrap-css -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--// css -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!--/fonts-->
</head>

<body ng-app="mainApp">

	<div ng-controller="pagevariables">
	</div>


	<!-- header nav -->
	<div class="header-nav">
		<div class="container">
			<div class="header">
				<div class="head-logo">
					<h1 style="background: -webkit-linear-gradient(#eee, #728888);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">StackSavings</h1>
				</div>
				<div class="header-info-right">
					<div class="header cbp-spmenu-push">
						<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
							<a class="active" href="index.html">{{menu1}}</a>
						</nav>
						<!--script-nav -->
						<script>
							$("span.menu").click(function() {
								$("ul.navigatoin").slideToggle("300", function() {});
							});
						</script>
						<div class="clearfix"> </div>
						<!-- /script-nav -->
						<div class="main">
							<section class="buttonset">
								<button id="showRightPush"><img src="images/menu.png" />
								</button>
							</section>
						</div>
						<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
						<script src="js/classie.js"></script>
						<script>
							var menuRight = document.getElementById('cbp-spmenu-s2'),
								showRightPush = document.getElementById('showRightPush'),
								body = document.body;

							showRightPush.onclick = function() {
								classie.toggle(this, 'active');
								classie.toggle(body, 'cbp-spmenu-push-toleft');
								classie.toggle(menuRight, 'cbp-spmenu-open');
								disableOther('showRightPush');
							};
						</script>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//header nav-->
	<!--banner-->
	<div class="banner">
		<div class="container">
				<div>
					<h1>{{main_text}}</h1>
				</div>
				
				<form class="webform" id="jobapp" ng-submit="submit()" ng-controller="formsubmit">

					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" ng-model="form.name" class="form-control" placeholder="Name" required>
					</div>

					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" name="email" id="email" ng-model="form.email" class="form-control" placeholder="Email" required>
					</div>

					<div class="form-group">
						<label for="availability">Availability (in UTC time):</label>
						<input type="text" name="availability" id="availability" ng-model="form.availability" class="form-control" placeholder="Availability" required>
					</div>

					<div class="form-group">
						<label for="languages">Languages you Speak:</label>
						<input type="text" name="languages" id="languages" ng-model="form.languages" class="form-control" placeholder="Languages" required>
					</div>

					<div class="form-group">
						<label for="experience">Years of Experience:</label>
						<input type="text" name="experience" id="experience" ng-model="form.experience" class="form-control" placeholder="Experience" required>
					</div>

					<div class="form-group">
						<label for="googlehangout">Google Hangout Username:</label>
						<input type="text" name="googlehangout" id="googlehangout" ng-model="form.googlehangout" class="form-control" placeholder="Google Hangout" required>
					</div>

					<div class="form-group">
						<label for="location">Your Location:</label>
						<input type="text" name="location" id="location" ng-model="form.location" class="form-control" placeholder="Location" required>
					</div>

					<div class="form-group">
						<label for="comment">Additional Info:</label>
						<input type="textarea" name="comment" id="comment" ng-model="form.comment" class="form-control" placeholder="Question or Comment" required>
					</div>

					<input type="submit" value="Submit" class="btn btn-default">
				</form>

				<div class="submission_message"></div>
				
						<script type="text/javascript">
						
							var parseAPPID = "UWW0790oKQJjqcuaDQxQ5htv5tNUDpRUyrWaLq37";
							var parseJSID = "QiwsalIT05TNMRv1MHC6am8bDzeNFOaBzoIqKI9g";

							Parse.initialize(parseAPPID, parseJSID);

							myapp.controller("formsubmit", ['$scope', function($scope) {
				
								$scope.submit = function() {

									var PObject = Parse.Object.extend("JobApp");
									var pObject = new PObject();

									pObject.save($scope.form, {
										success: function(object) {
											//user successfully submited

											$(".submission_message").html("<b>Thank you for your submission, we will be in touch soon.</b>").show();
										},
										error: function(model, error) {
											//handling error
											$(".submission_message").html("<b>Sorry, there was a problem submitting your form.</b>").show();
											console.log($scope.form);
										}
									});
								}

							}]);
						</script>

		</div>
		<!--//banner-->
		<!--footer-->
		<div class="footer">
			<div class="container">
				<div class="footer-grids">
					<div class="footer-left">
						<p>{{footer_text}}</p>
					</div>
					<div class="footer-right">
						<ul>
							<li>
								<a class="twitter" href="#"></a>
							</li>
							<li>
								<a class="facebook" href="#"></a>
							</li>
							<li>
								<a class="sss" href="#"></a>
							</li>
							<li>
								<a class="vimeo" href="#"></a>
							</li>
							<li>
								<a class="message" href="#"></a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--//footer-->
</body>

</html>